<a href="https://colab.research.google.com/github/dinhquy-nguyen-1704/Data_Strcutures_And_Algorithms/blob/main/Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###countDown

In [ ]:
def countDown(n):
    if n > 0:
        print(n)
        countDown(n-1)

In [ ]:
countDown(5)

5
4
3
2
1

###binarySearch

In [ ]:
def binarySearch(A, left, right, K):
    if left == right:
        if A[left] == K:
            return left
        else:
            return -1
    else:
        mid = (left + right)//2
        if A[mid] == K:
            return mid
        else:
            if A[mid] < K:
                return binarySearch(A, mid+1, right, K)
            else:
                return binarySearch(A, left, mid-1, K)

In [ ]:
A = [0, 1 ,3, 4, 5, 7, 10, 17]
K = 5
n = len(A)
print(binarySearch(A, 0, n-1, K))

4

###Greatest common divisor

In [ ]:
def gcd(a, b):
    if b == 0:
        return a
    else:
      return gcd(b, a%b)

In [ ]:
gcd(5, 2)

1

###insertionSort

In [ ]:
def insertionSort(A, k):
    j = k
    while j > 0 and A[j] < A[j-1]:
        A[j], A[j-1] = A[j-1], A[j]
        j = j - 1
    if k < len(A) - 1:
        insertionSort(A, k+1)

In [ ]:
A = [1, 3, 2, 5, 4]
insertionSort(A, 1)
A

[1, 2, 3, 4, 5]

###selectionSort

In [ ]:
def selectionSort(A, k):
    if k < len(A) - 1:
        imin = k
        for j in range(k+1, len(A)):
            if A[j] < A[imin]:
                imin = j
        A[k], A[imin] = A[imin], A[k]
        selectionSort(A, k+1)

In [ ]:
A = [1, 3, 2, 5, 4]
selectionSort(A, 0)
A

[1, 2, 3, 4, 5]

###Generate all permutations according to minimal change

In [ ]:
def insertAll(A, n):
    new_list = []
    k = len(A)
    for i in range(k+1):
        B = A.copy()
        B.insert(i, n)
        new_list.append(B)
    return new_list

In [ ]:
def permutation(n):
    if n == 1:
        return [[1]]
    else:
        new = []
        A = permutation(n-1)
        for p in A:
            new += insertAll(p, n)
        return new

In [ ]:
permutation(3)

[[3, 2, 1], [2, 3, 1], [2, 1, 3], [3, 1, 2], [1, 3, 2], [1, 2, 3]]

###Generate all permutations by changing position

In [3]:
def permute(A, k):
    A = A.copy()
    if k == n-1:
        print(A)
    else:
        for i in range(k, n):
            A[k], A[i] = A[i], A[k]
            permute(A, k+1)

In [7]:
A = [1, 2, 3, 4]
n = len(A)
permute(A, 0)

[1, 2, 3, 4]
[1, 2, 4, 3]
[1, 3, 2, 4]
[1, 3, 4, 2]
[1, 4, 2, 3]
[1, 4, 3, 2]
[2, 1, 3, 4]
[2, 1, 4, 3]
[2, 3, 1, 4]
[2, 3, 4, 1]
[2, 4, 1, 3]
[2, 4, 3, 1]
[3, 1, 2, 4]
[3, 1, 4, 2]
[3, 2, 1, 4]
[3, 2, 4, 1]
[3, 4, 1, 2]
[3, 4, 2, 1]
[4, 1, 2, 3]
[4, 1, 3, 2]
[4, 2, 1, 3]
[4, 2, 3, 1]
[4, 3, 1, 2]
[4, 3, 2, 1]